body {
  background-color: hsl(30, 54%, 90%);
  font-family: Outfit;
  font-weight: 400;
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  width: 650px;
  padding: 50px;
  border-radius: 30px;
  background-color: hsl(0, 0%, 100%);
}

h1 {
  font-family: Young Serif;
  font-weight: 400;
  font-size: 40px;
  color: hsl(24, 5%, 18%);
}

h2 {
  font-family: Young Serif;
  font-weight: 400;
  font-size: 24px;
  color: hsl(14, 45%, 36%);
}

h3 {
  margin: 0;
  font-weight: 700;
  color: hsl(332, 51%, 32%);
}

img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.prep-time-container {
  background-color: hsl(330, 100%, 98%);
  border-radius: 10px;
  padding: 30px;
  margin-top: 30px;
}

.prep-time-list {
  padding: 0;
  margin-left: 20px;
  line-height: 30px;
  margin-bottom: 0;
}

.prep-time-list>li {
  padding-left: 18px;
}

.prep-time-list>li::marker {
  color: hsl(332, 51%, 32%);
  font-size: 12px;
}

.attribution { 
  position: absolute;
  bottom: 20px;
 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}